{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

<body style="background-color: #a29797">
    <div style="display: flex; flex-direction: column; align-items: center; text-align: center; margin-top: 50px">
        <h3>Are you sure you want to delete {{ course }}?</h3>

        <a href="{% url 'courses' %}" class="btn btn-outline-secondary" style="border-radius: 10px; margin: 15px 0; background-color: lavender">Cancel</a>

        <form method="POST" action="">
            {% csrf_token %}
            <input type = submit class="btn btn-outline-secondary" style="border-radius: 10px; background-color: lavender" name="Confirm" value="Confirm">
        </form>
    </div>
</body>